<template>
    <div class="download">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p>Tải ứng dụng và trải nghiệm dịch vụ trên mọi nền tảng</p>
                    <img
                        src="/images/logo-sanve.png"
                        alt=""
                        style="width:106px;height:32px"
                    />
                    <img
                        src="/images/x.png"
                        alt=""
                        style="width:24px;height:24px"
                    />
                    <img
                        src="/images/logo-kbus.png"
                        alt=""
                        style="width:106px;height:32px"
                    />
                </div>
                <div class="col-6">
                    <img
                        src="/images/bg-down.png"
                        alt=""
                        style="width:443px;height:301px;position :absolute"
                    />
                    <img
                   
                        src="/images/bg-down.png"
                        alt=""
                        style="width:209px;height:396px;"
                    />
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {};
</script>
<style scoped lang="scss">
.download {
    background-color: #ffedf4;
}
</style>
