<template>
    <div>
        <Header></Header>
        <Download></Download>
        <Footer></Footer>
    </div>
</template>

<script>
import Header from "./Header";
import Footer from "./footer.vue";
import Download from "./Download.vue";

export default {
    components: {
        Header,
        Download,
        Footer
    },
    mounted() {
        // console.log("Component mounted.");
    }
};
</script>
