<template>
    <div class="footer">
        <div class=" content container">
            <div class="title text-center">
                Hợp tác với KBus nhà xe được lợi gì?
            </div>
            <div class="row mt-5">
                <div class="images col-6">
                    <img
                        src="/images/done-tick.png"
                        alt=""
                        style="width:544px; height:310px"
                    />
                </div>
                <div class=" list col-6">
                    <nav>
                        <ul>
                            <li>
                                <img
                                    src="/images/done-tick.png"
                                    alt=""
                                    style="width:20px; height:20px"
                                />
                                Kết nối với hơn 5 triệu khách hàng đã đăng ký
                            </li>
                            <li>
                                <img
                                    src="/images/done-tick.png"
                                    alt=""
                                    style="width:20px; height:20px"
                                />
                                Giá hợp lý, minh bạch cho khách hàng và hãng vận
                                tải
                            </li>
                            <li>
                                <img
                                    src="/images/done-tick.png"
                                    alt=""
                                    style="width:20px; height:20px"
                                />
                                Tận dụng công suất dư thừa của xe, giảm thiểu
                                thời gian nhàn rỗi của xe
                            </li>
                            <li>
                                <img
                                    src="/images/done-tick.png"
                                    alt=""
                                    style="width:20px; height:20px"
                                />
                                Giám sát hành trình mọi lúc mọi nơi
                            </li>
                            <li>
                                <img
                                    src="/images/done-tick.png"
                                    alt=""
                                    style="width:20px; height:20px"
                                />
                                Đảm bảo lợi nhuận và tập trung hơn cho chuyến đi
                                an toàn
                            </li>
                            <li>
                                <img
                                    src="/images/done-tick.png"
                                    alt=""
                                    style="width:20px; height:20px"
                                />
                                Mở rộng đội xe và phạm vi hoạt động của hãng vận
                                tải
                            </li>
                            <li>
                                <img
                                    src="/images/done-tick.png"
                                    alt=""
                                    style="width:20px; height:20px"
                                />
                                Tạo công việc và thu nhập cho lái xe.
                            </li>
                            <li>
                                <img
                                    src="/images/done-tick.png"
                                    alt=""
                                    style="width:20px; height:20px"
                                />
                                Duy trì và phát triển ngay trong khi dịch Covid
                                làm tê liệt toàn bộ hệ thống xe tuyến cố định
                            </li>
                        </ul>
                    </nav>
                    <div class="row ">
                        <div class="col-6 text-right">
                            <a href="" class="cooperate">Đăng ký hợp tác</a>
                        </div>
                        <div class="col-6 text-left">
                            <a href="" class="standard"
                                >Quy chuẩn khi tham gia</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {};
</script>
<style scoped lang="scss">
.footer {
    .content {
        .title {
            font-family: Cabin;
            font-weight: 500;
            font-style: normal;
            font-size: 24px;
            line-height: 29.16px;
        }
        .list {
            .cooperate {
                font-size: 16px;
                border-radius: 30px;
                border: 2px solid #ed196b;
                color: #ed196b;
                text-decoration: none;
                padding: 15px 15px 15px 15px;
            }
            .cooperate:hover {
                background-color: #ed196b;
                color: #fff;
            }
            .standard {
                color: #646d84;
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }
            nav {
                ul {
                    padding-top: 10px;
                    list-style: none;
                    li {
                        font-size: 16px;
                        line-height: 24px;
                        text-decoration: none;
                        color: #383f47;
                        font-family: Cabin;
                        font-style: normal;
                        font-weight: 500;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}
</style>
