<template>
    <div class="header">
        <div class="menu container">
            <div class="row  pt-3 pb-3">
                <div class="col-6">
                    <a href=""
                        ><img
                            src="images/logo-kbus.png"
                            alt=""
                            style="width:97.66px; height:40px"
                    /></a>
                </div>
                <div class="col-6 menu-right text-right">
                    <nav>
                        <ul>
                            <li><a href="">Giới thiệu</a></li>
                            <li><a href="">Liên Hệ</a></li>
                            <li>
                                <div class="become-partner">
                                    <a href=""> Trở thành đối tác</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
           
        };
    },
    methods: {}
};
</script>
<style scoped lang="scss">
.header {
    .menu {
        .menu-right {
            nav {
                ul {
                    li {
                        display: inline-block;

                        a {
                            font-size: 16px;
                            line-height: 24px;
                            padding: 10px 10px 10px 10px;
                            text-decoration: none;
                            color: #383f47;
                            font-family: Cabin;
                            font-style: normal;
                            font-weight: 500;
                        }
                        a:hover {
                            color: #ed196b;
                        }
                        .become-partner {
                            a {
                                border-radius: 25px;
                                border: 1px solid #ed196b;
                                color: #ed196b;
                            }
                        }
                    }
                }
            }
        }
    }
}
</style>
